    <div class="sidebar sidebar-dark sidebar-fixed hide" id="sidebar">
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
          <a class="nav-link" href="/index">
            <svg class="nav-icon"> <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use> </svg>
            Dashboard
            <span class="badge badge-sm bg-info ms-auto"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/log">
            <svg class="nav-icon"> <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-spreadsheet"></use> </svg>
            Change Log
            <span class="badge badge-sm bg-info ms-auto"></span>
          </a>
        </li>
      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    